@import './assets/styles/variables.css';
@import './assets/styles/global.css';
@import './assets/styles/themes/light.css';
@import './assets/styles/themes/dark.css';

/* Initialize theme */
:root {
  color-scheme: light;
}

[data-theme='dark'] {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: var(--font-family-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
